$color1 : #666666
$color2 : #BFBFBF
$color3 : #525252
$color4 : #606060

body
	background-color : $color4
header
	#sub-navbar
		height : 30px
		background-color: $color1
	#navbar
		overflow : hidden
		height : 80px
		background-color : $color2
		.logo-container
			height : 100%
			padding : 10
			float : left
	#logo
		box-sizing : border-box
		height : 100%
		font-weight : 300
		width : 200px
		background-color : $color1
.container
	width : 80%
	margin : 0 auto


#myCarousel
	height : 388px

.item
	background-color : black

.carousel-inner > .item
	height : 100%
	background-color : white
	.info
		position : absolute
